{% extends "general.html" %}

{% block content %}
<div class="container-fluid sticky-top bg-warning" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="col h1">"Ajoute tes fournitures"</div>

    <div class = "row">
        <div class = "col">
            <button id="addFournitureClick" type="button" class="btn btn-primary px-3 mx-2 my-2" hx-get="{% url 'app_fournitures:addFourniture'%}" 
                    hx-target="#listFournitureAdd" hx-swap="beforeend">
                Ajouter
            </button>
        </div>

        <div class = "col">
            <button type="button" class="btn btn-primary px-3 mx-2 my-2" id="submit-fourniture">Tout enregistrer</button>
        </div>

        <div class = "col">
            <a class="btn btn-primary px-3 mx-2 my-2" href="{% url 'app_bungalows:BungalowsChoice'%}">Terminer</a>
        </div>
    </div>
</div>

<div id="listFournitureAdd" class="">
        
</div>



{% endblock content %}