<h1 class="text-light text-center">Manquant</h1>



<div class="container-fluid text-light text-center">
    {%for fourniture in diff_list%}
        {%if fourniture.diff != 0%}
            <div class="container-fluid text-light text-center">
                {{fourniture.name}} : {{fourniture.diff}}
            </div>
        {%endif%}
    {%endfor%}
</div>

<button class="btn btn-primary" hx-confirm="Enregistrer l'état du bungalow?"
            hx-get="{% url 'app_bungalows:BungalowsMajSetItems'%}" 
            hx-target="#update_info" hx-swap="innerHTML">Enregistrer état bungalow</button>

    
<div id="update_info">
</div>

