{% load static %}

<html>

<head lang="en">
    <title>Bungalows</title>
    <link rel="stylesheet" href="{% static 'Bungalows.css' %}">
    
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    {% load django_bootstrap5%}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>

<body class="bg-dark text-center text-light">
    <h1 class="text-light text-center">BUNGALOWS</h1>
    {% block content %}
    {% endblock %}
</body>


</html>